.infoblock {
  padding: 47px 24px;
  height: 100%;
  width: 100%;

  &--contacts {
    background: #71efdf;
  }

  &--mail {
    background: #fff;
  }

  &--timetable {
    background: #4f00e5;
  }

  &__content {
    margin-top: 30px;

    .infoblock--timetable & {
      color: #fff;
    }
  }

  &__icons {
    margin-top: 23px;
    margin-bottom: 4px;
  }

  &__subtitle {
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: -3px;

    .infoblock--contacts & {
      color: rgba(0, 0, 0, 0.6);
    }

    .infoblock--mail & {
      color: #03dac4;
    }

    .infoblock--timetable & {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &__title {
    font-size: 23px;
    line-height: 35px;
    text-transform: uppercase;

    .infoblock--contacts & {
      color: rgba(0, 0, 0, 0.87);
    }

    .infoblock--mail & {
      color: #03dac4;
    }

    .infoblock--timetable & {
      color: #ffffff;
    }
  }
}
