.title {
  padding: 146px 217px 113px 0;

  &__category {
    margin-top: 87px;
    font-weight: 500;
    font-size: 19px;
    line-height: 29px;
    color: rgba(0, 0, 0, 0.6);
  }

  &__company-name {
    margin-top: 6px;
    border-bottom: 16px solid #71efdf;
    color: #03dac4;
    text-transform: uppercase;
  }

  &__primary {
    font-weight: 800;
    font-size: 56px;
    line-height: 85px;
  }

  &__secondary {
    margin: -8px 0 9px;
    font-size: 32px;
    line-height: 49px;
  }

  @media screen and (max-width: 1200px) {
    padding-top: 30px;

    &__category {
      margin-top: 23px;
    }
  }

  @media screen and (max-width: 600px) {
    padding-right: 0;
  }
}
