.main {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 191px 120px 0;
  background-image: url(./assets/img/peoples.svg), url(./assets/img/rectangle.svg);
  background-size: contain, 33%;
  background-repeat: no-repeat;
  background-position: bottom right, top left;
  // outline: 3px solid red;

  &__info {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__header {
    // margin: 0 auto 18px 0;
    font-weight: 800;
    font-size: 57px;
    line-height: 85px;
    letter-spacing: -0.5px;
    color: rgba(0, 0, 0, 0.87);
  }

  &__text {
    width: 384px;
    height: auto;
    margin-top: 18px;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
  }

  &__button {
    display: flex;
    margin-top: 44px;
  }

  &__subheader {
    margin-top: 108px;
    width: 384px;
    height: 64px;
    font-size: 23px;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.87);
  }

  &__link-read-more {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
  }
}

@media screen and (max-width: $width_1350) {
  .main {
    background-size: contain, 27%;
    padding: 0 60px;

    &__header {
      margin-top: 100px;
    }
  }
}

@media screen and (max-width: $width_480) {
  .main {
    min-width: 100vw;
    min-height: 100vh;
    padding: 0 20px 225px;
    background-size: 109%, 50%;
    background-repeat: no-repeat;
    background-position: bottom right, top left;

    &__button {
      margin: 44px auto 0;
    }

    &__header {
      margin-top: 30px;
      text-align: center;
    }
    &__subheader {
      width: 100%;
      margin-top: 60px;
      margin-left: auto;
      height: auto;
      text-align: center;
    }

    &__text {
      width: 100%;
      text-align: center;
    }
  }
}
