.about {

    &__info {
        display: flex;
        flex-direction: column;
        max-width: 1260px;
        margin: 0 auto; 
        background: url(assets/img/portrait.gif)  no-repeat 100% 25%;
        background-size: 480px;
    }
    
    &__button{
        position: relative;
        width: 10em;
        height: 2.8em;
        margin: 30px 0 0;

        &--upper {            
            margin-right: auto;
        }

        &--lower {
            margin-left: auto;
        } 
    }

}