.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 30px;
  overflow-x: hidden;
  background: radial-gradient(at center, #8b3b69, #20184c);

  &__button {
    position: relative;

    &--main-page {
      margin-top: 63px;
      width: 10em;
      height: 2.8em;
    }
    
    &--portfolio {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 20px;
      padding-right: 50px;
    }    
  }

  &__header {
    display: flex;
    padding-top: 30px;
    flex-direction: row;
  }

  &__info {
    max-width: 1260px;
    margin: 0 auto;
    background: url(assets/img/hand_and_lamp.gif) no-repeat 80% 96%;
    background-size: 627px;

    &-about{
      display: flex;
      flex-direction: column;  
      padding-top: 100px;
      background: url(assets/img/portrait.gif)  no-repeat 100% 30px;
      background-size: 480px;
    }
  }

  &__logo {
    display: block;
  }

  &__menu {
    display: flex;
  }

  &__slider {
    width: 1120px;
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 50px;
    position: relative;
  }

  &__works {
    display: flex;
    flex-direction: column;
    padding: 3em 30px;
  }
}
