.button {
  display: block;
  padding: 16px 34px;
  text-align: center;
  background: #fafafa;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
